.matrix {
    display: flex;
    justify-content: center;
}

#matrix-columns {
    display: flex;
    flex-direction: row-reverse;
}

#matrix-column-elements {
    display: block;
    margin: 5px;
}

#matrix-column-elements>div {
    margin: 5px 0;
}

.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    .button {
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 6px;
        color: white;
        background-color: blueviolet;
    }
}
